
{% extends "layout.html" %}

{% block title %}
Home - ウミガメ
{% endblock %}
{% block content %}

<div class="container my-5">
    <div class="text-center">
        <h1>ウミガメ</h1>
        <p>モードを選んでね</p>
    </div>
            <ul class="list-group list-group-flush">
                <form action="{{ url_for('select_mode') }}" class="list-group-flush" method="post">
                    <li class="list-group-item">
                        <div class="mode-container">
                            <button type="submit" name="mode" value="初級" class="btn btn-outline-primary">初級</button>
                            <span class="description">原子番号1~20までが出題されるよ!</span>
                        </div>
                    </li>
                    <li class="list-group-item">

                        <div class="mode-container">
                            <button type="submit" name="mode" value="中級" class="btn btn-outline-warning">中級</button>
                            <span class="description">原子番号1~36までが出題されるよ!</span>
                        </div>
                    </li>

                    <li class="list-group-item">

                        <div class="mode-container">
                            <button type="submit" name="mode" value="上級" class="btn btn-outline-danger">上級</button>
                            <span class="description">大学受験で頻出の元素が出題されるよ!</span>
                        </div>
                    </li>

                    <li class="list-group-item">

                        <div class="mode-container">
                            <button type="submit" name="mode" value="超上級" class="btn btn-outline-dark">超上級</button>
                            <span class="description">全ての元素が出題されるよ!めざせ元素マスター！</span>
                        </div>
                    </li>
                </form>

            </ul>
{% endblock %}

